body{
    font-family:Arial;
    margin:40px;
}

.tool{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

#sentence{
    min-height:80px;
    border:2px dashed gray;
    padding:10px;
}

.block{

    display:inline-block;

    padding:8px 12px;

    margin:5px;

    border-radius:6px;

    background:#dddddd;

    cursor:grab;

    user-select:none;

    transition:
        transform .15s;
}

.block:hover{

    transform:scale(1.05);

}

.block:active{
    cursor:grabbing;
}

.textBlock{
    background:#ffffff;
    border:1px solid black;
}
