body{
    font-family:Arial;
    margin:40px;
}

.tool{
    padding:10px;
    margin:5px;
    cursor:pointer;
}

#sentence{
    min-height:80px;
    border:2px dashed gray;
    padding:10px;
}

.block{
    display:inline-block;
    padding:8px;
    margin:5px;
    border-radius:5px;
    background:#dddddd;
}

.textBlock{
    background:#ffffff;
    border:1px solid black;
}
